<!DOCTYPE html>
<html>
<head>
  <title>TestHos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <style>
  * {
   font-family: agenda-thin, sans-serif;
    background: #1f1f2e;
    color:   #e1e1ea; 
  }
  center{
    margin-top: 8%;

     }
  </style>
</head>
<body>
	<center>
 		<%= yield %>
	</center>
</body>
</html>

